:root {
  --eerie-black: hsla(0, 0%, 11%, 1);
  --jet: hsla(0, 2%, 19%, 1);
  --onyx: hsla(200, 5%, 24%, 1);
  --rose-ebony: hsla(347, 16%, 33%, 1);
  --dark-electric-blue: hsla(206, 19%, 41%, 1);
  --honeydew: rgba(240, 255, 240, 1);
}

* {
  box-sizing: border-box;
  font-family: 'Adam', 'Courier Sans', sans-serif;
  font-weight: 300;
  background-color: var(--honeydew);
}

html {
  max-height: 1400px;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  color: var(--onyx);
  text-decoration: none;
}

a:visited {
  color: var(--onyx);
}

.App {
  text-align: center;
}



